<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="containerOne">
        <!--<register type="IDAL.Iconfig_file_first_kindDAL,IDAL" mapTo="DAL.config_file_first_kindDAL,DAL" name="config_file_first_kindDAL"></register>
        <register type="IDAL.Iconfig_file_second_kindDAL,IDAL" mapTo="DAL.config_file_second_kindDAL,DAL" name="config_file_second_kindDAL"></register>
        <register type="IDAL.Iconfig_file_third_kindDAL,IDAL" mapTo="DAL.config_file_third_kindDAL,DAL" name="config_file_third_kindDAL"></register>-->
        <register type="IDAL.Iconfig_public_charDAL,IDAL" mapTo="DAL.config_public_charDAL,DAL" name="config_public_charDAL"></register>
        <register type="IDAL.Iconfig_major_kindDAL,IDAL" mapTo="DAL.config_major_kindDAL,DAL" name="config_major_kindDAL"></register>
        <register type="IDAL.Iconfig_majorDAL,IDAL" mapTo="DAL.config_majorDAL,DAL" name="config_majorDAL"></register>
        <!--<register type="IDAL.IusersDAL,IDAL" mapTo="DAL.usersDAL,DAL" name="usersDAL"></register>
        <register type="IDAL.IRoleDAL,IDAL" mapTo="DAL.RoleDAL,DAL" name="RoleDAL"></register>
        <register type="IDAL.Isalary_standardDAL,IDAL" mapTo="DAL.salary_standardDAL,DAL" name="salary_standardDAL"></register>
        <register type="IDAL.Isalary_standard_detailsDAL,IDAL" mapTo="DAL.salary_standard_detailsDAL,DAL" name="salary_standard_detailsDAL"></register>
        <register type="IDAL.Iengage_major_releaseDAL,IDAL" mapTo="DAL.engage_major_releaseDAL,DAL" name="engage_major_releaseDAL"></register>
        <register type="IDAL.Iengage_resumeDAL,IDAL" mapTo="DAL.engage_resumeDAL,DAL" name="engage_resumeDAL"></register>
        <register type="IDAL.Isalary_grantDAL,IDAL" mapTo="DAL.salary_grantDAL,DAL" name="salary_grantDAL"></register>
        <register type="IDAL.Isalary_grant_detailsDAL,IDAL" mapTo="DAL.salary_grant_detailsDAL,DAL" name="salary_grant_detailsDAL"></register>
        <register type="IDAL.Iengage_interviewDAL,IDAL" mapTo="DAL.engage_interviewDAL,DAL" name="engage_interviewDAL"></register>
        <register type="IDAL.Ihuman_fileDAL,IDAL" mapTo="DAL.human_fileDAL,DAL" name="human_fileDAL"></register>
        <register type="IDAL.Imajor_changeDAL,IDAL" mapTo="DAL.major_changeDAL,DAL" name="major_changeDAL"></register>-->
      </container>
      <container name="containerTwo">
        <!--<register type="IBLL.Iconfig_file_first_kindBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.Iconfig_file_second_kindBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
        <register type="IBLL.Iconfig_file_third_kindBLL,IBLL" mapTo="BLL.config_file_third_kindBLL,BLL" name="config_file_third_kindBLL"></register>-->
        <register type="IBLL.Iconfig_public_charBLL,IBLL" mapTo="BLL.config_public_charBLL,BLL" name="config_public_charBLL"></register>
        <register type="IBLL.Iconfig_major_kindBLL,IBLL" mapTo="BLL.config_major_kindBLL,BLL" name="config_major_kindBLL"></register>
        <register type="IBLL.Iconfig_majorBLL,IBLL" mapTo="BLL.config_majorBLL,BLL" name="config_majorBLL"></register>
        <!--<register type="IBLL.IusersBLL,IBLL" mapTo="BLL.usersBLL,BLL" name="usersBLL"></register>
        <register type="IBLL.IRoleBLL,IBLL" mapTo="BLL.RoleBLL,BLL" name="RoleBLL"></register>
        <register type="IBLL.Isalary_standardBLL,IBLL" mapTo="BLL.salary_standardBLL,BLL" name="salary_standardBLL"></register>
        <register type="IBLL.Isalary_standard_detailsBLL,IBLL" mapTo="BLL.salary_standard_detailsBLL,BLL" name="salary_standard_detailsBLL"></register>
        <register type="IBLL.Iengage_major_releaseBLL,IBLL" mapTo="BLL.engage_major_releaseBLL,BLL" name="engage_major_releaseBLL"></register>
        <register type="IBLL.Iengage_resumeBLL,IBLL" mapTo="BLL.engage_resumeBLL,BLL" name="engage_resumeBLL"></register>
        <register type="IBLL.Isalary_grantBLL,IBLL" mapTo="BLL.salary_grantBLL,BLL" name="salary_grantBLL"></register>
        <register type="IBLL.Isalary_grant_detailsBLL,IBLL" mapTo="BLL.salary_grant_detailsBLL,BLL" name="salary_grant_detailsBLL"></register>
        <register type="IBLL.Iengage_interviewBLL,IBLL" mapTo="BLL.engage_interviewBLL,BLL" name="engage_interviewBLL"></register>
        <register type="IBLL.Ihuman_fileBLL,IBLL" mapTo="BLL.human_fileBLL,BLL" name="human_fileBLL"></register>
        <register type="IBLL.Imajor_changeBLL,IBLL" mapTo="BLL.major_changeBLL,BLL" name="major_changeBLL"></register>-->
      </container>
    </containers>
  </unity>

</configuration>
